{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets1/css/dashboard.css' %}">
<main class="p-6">
    <div class="dashboard">
        <div class="card">
            <h3>Total Users</h3>
            <p>1000</p>
        </div>
        <div class="card">
            <h3>Active Users</h3>
            <p>800</p>
        </div>
        <div class="card">
            <h3>Total Enquiries</h3>
            <p>500</p>
        </div>
        <div class="card">
            <h3>Solved Enquiries</h3>
            <p>400</p>
        </div>
        <div class="card">
            <h3>Total Members</h3>
            <p>200</p>
        </div>
    </div>

    <!-- Bar Chart -->
    <div class="chart-container">
        <canvas id="barChart"></canvas>
    </div>

    <!-- Line Chart -->
    <div class="chart-container">
        <canvas id="lineChart"></canvas>
    </div>

    <!-- Table -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john@example.com</td>
                    <td>Active</td>
                </tr>
                <!-- Add more rows -->
            </tbody>
        </table>
    </div>
</main>

<script>
    // JavaScript code for chart initialization and data
    // Bar Chart
    var ctxBar = document.getElementById('barChart').getContext('2d');
    var barChart = new Chart(ctxBar, {
        type: 'bar',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'Enquiries',
                data: [50, 60, 70, 80, 90],
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    // Line Chart
    var ctxLine = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctxLine, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'Users',
                data: [100, 200, 300, 400, 500],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
