{% extends "base.html" %}

{% block title %}Delete Employees{% endblock %}

{% block content %}
<h1>Delete employees</h1>

<p>Are you sure you want to delete the employees for {{ employees.date }} (employees ID: {{ employees.employees_id }})?</p>

<form action="{% url 'delete_employees' employees.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
