{% extends "base.html" %}

{% block title %}Employees{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        .card-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .card {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            width: calc(20% - 20px);
            box-sizing: border-box;
        }
        .card h2 {
            color: #333;
            margin-top: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #e6f7ff; /* Blue color */
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #3399ff; /* Dark blue color for header */
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Light gray color for even rows */
        }
        tr:hover {
            background-color: #cceeff; /* Light blue color on hover */
        }
        .search-container {
            margin-bottom: 20px;
        }
        .search-container input[type=text] {
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .download-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .download-button:hover {
            background-color: #45a049;
        }
        .header-actions {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Employees</h1>

    <div class="header-actions">
        <button class="download-button" onclick="exportToExcel()">Download as Excel</button>
        
    </div>

    <div class="header-actions">
        <a href="{% url 'accounts_app:add_employees' %}" class="create-button">Add Employees</a>
        
    </div>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button onclick="search()">Search</button>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>S.No</th>                
                <th>EMP. ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Assigned Source</th>
                <th>Assigned Location</th>
                <th>Last Login</th>
                <th>Last Login IP</th>
                <th>Last Location</th> 
                <th>Created</th>    
                <th>Actions</th>           
            </tr>
        </thead>
        <tbody>
            {% for employee in usermanagement %}
            <tr>
                <td>{{ forloop.counter }}</td>                
                <td>{{ employee.employee_id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.role }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.assigned_source }}</td>
                <td>{{ employee.assigned_location }}</td>
                <td>{{ employee.last_login }}</td>
                <td>{{ employee.last_login_id }}</td>
                <td>{{ employee.last_location }}</td>
                <td>{{ employee.created }}</td>
                <td>
                    <a href="{% url 'accounts_app:update_employees' employee.pk %}">Edit</a>
                    <form action="{% url 'accounts_app:delete_employees' employee.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this employee?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function search() {
            // Write your search functionality here
        }

        function exportToExcel() {
            // Write code to export table data to Excel format
        }
    </script>
</body>
</html>
{% endblock %}
