{% extends "base.html" %}

{% block title %}Delete Task Manager{% endblock %}

{% block content %}
<h1>Delete Task Manager</h1>

<p>Are you sure you want to delete the Task Manager for {{ tasks.lead_id }} (Name: {{ tasks.name }})?</p>

<form action="{% url 'delete_taskmanager' tasks.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
