{% extends "base.html" %}

{% block title %}Delete Appointment{% endblock %}

{% block content %}
<h1>Delete Appointment</h1>

<p>Are you sure you want to delete the appointment for {{ appointment.date }} (Lead ID: {{ appointment.lead_id }})?</p>

<form action="{% url 'delete_appointment' appointment.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
