{% extends 'base.html' %}
{% block content %}


<div class="container text-center">
<br><br><br><br>
<h3>Your subscription is now active!</h3>
<br><br>
<a class="btn btn-primary text-light" href="#">Return Home</a>
<br><br>
<a class="btn btn-danger text-light" href="#">Cancel Subscription</a>
</div>

{% endblock %}