{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbaord</title>
</head>
<body>
    <h1>Dashboard</h1>
    
</body>
</html>
{% endblock %}
