{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tele calling</title>


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        .card-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .card {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            width: calc(20% - 20px);
            box-sizing: border-box;
        }
        .card h2 {
            color: #333;
            margin-top: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #e6f7ff; /* Blue color */
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #3399ff; /* Dark blue color for header */
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Light gray color for even rows */
        }
        tr:hover {
            background-color: #cceeff; /* Light blue color on hover */
        }
        .search-container {
            margin-bottom: 20px;
        }
        .search-container input[type=text] {
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .download-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .download-button:hover {
            background-color: #45a049;
        }
        .header-actions {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Tele calling</h1>

    <div class="header-actions">
        <button class="download-button" onclick="exportToExcel()">Download as Excel</button>
    </div>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button onclick="search()">Search</button>
    </div>

    <div class="card-container">
        <div class="card">
            <h2>Card 1</h2>
            <p>Content for card 1</p>
        </div>
        <div class="card">
            <h2>Card 2</h2>
            <p>Content for card 2</p>
        </div>
        <div class="card">
            <h2>Card 3</h2>
            <p>Content for card 3</p>
        </div>
        <div class="card">
            <h2>Card 4</h2>
            <p>Content for card 4</p>
        </div>
        <div class="card">
            <h2>Card 5</h2>
            <p>Content for card 5</p>
        </div>
        <div class="card">
            <h2>Card 6</h2>
            <p>Content for card 6</p>
        </div>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>S.No</th>                
                <th>Lead ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Project Name</th>
                <th>Project Details</th>
                <th>Project Type</th>
                <th>Lead Status</th>
                <th>Lead Circle</th>
                <th>Source</th>                
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.lead_id }}</td>
                <td>{{ appointment.status }}</td>
                <td>{{ appointment.remarks }}</td>
                <td>{{ appointment.phone }}</td>
                <td>{{ appointment.last_updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function search() {
            // Write your search functionality here
        }

        function exportToExcel() {
            // Write code to export table data to Excel format
        }
    </script>
</body>
</html>
{% endblock %}
