{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets1/css/user_signup.css' %}">
    <h1 class="text-xl">Sign up</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="mt-4 py-4 px-6 bg-cyan-500 text-white rounded-xl">Submit</button>
    </form>
{% endblock %}