{% extends 'base.html' %}
{% load static %}

{% block title %}Log in{% endblock %}

{% block content %}

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="mt-4 py-4 px-6 bg-cyan-500 text-white rounded-xl">Submit</button>
    </form>
{% endblock %}