{% extends "base.html" %}

{% block title %}Delete sales tracker{% endblock %}

{% block content %}
<h1>Delete sales tracker</h1>

<p>Are you sure you want to delete the sales tracker for {{ salestracker.date }} (Lead ID: {{ salestracker.lead_id }})?</p>

<form action="{% url 'delete_salestracker' salestracker.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
