{% extends "base.html" %}

{% block title %}Sales Tracker{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Tracker</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #e6f7ff; /* Blue color */
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #3399ff; /* Dark blue color for header */
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Light gray color for even rows */
        }
        tr:hover {
            background-color: #cceeff; /* Light blue color on hover */
        }
        .search-container {
            margin-bottom: 20px;
        }
        .search-container input[type=text] {
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .download-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .download-button:hover {
            background-color: #45a049;
        }
        .header-actions {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Sales Tracker</h1>

    <div class="header-actions">
        <a href="{% url 'accounts_app:create_salestracker' %}" class="create-button">Create Sales Tracker</a>
        <button class="download-button" onclick="exportToExcel()">Download as Excel</button>
    </div>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button onclick="search()">Search</button>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>Lead ID</th>
                <th>Status</th>
                <th>Remarks</th>
                <th>Phone</th>
                <th>Last Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sales in salestracker %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ sales.date }}</td>
                <td>{{ sales.lead_id }}</td>
                <td>{{ sales.status }}</td>
                <td>{{ sales.remarks }}</td>
                <td>{{ sales.phone }}</td>
                <td>{{ sales.last_updated }}</td>
                <td>
                    <a href="{% url 'accounts_app:update_salestracker' sales.pk %}">Edit</a>
                    <form action="{% url 'accounts_app:delete_salestracker' sales.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this sales tracker?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function search() {
            // Get the input value
            var input = document.getElementById("search-input").value.toUpperCase();
            // Get the table rows
            var rows = document.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                var found = false;
                for (var j = 0; j < cells.length; j++) {
                    var cell = cells[j];
                    if (cell) {
                        if (cell.innerHTML.toUpperCase().indexOf(input) > -1) {
                            found = true;
                            break;
                        }
                    }
                }
                if (found) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

        function exportToExcel() {
            var table = document.querySelector('table');
            var tableHTML = table.outerHTML.replace(/ /g, '%20');
            var blob = new Blob([tableHTML], { type: 'application/vnd.ms-excel' });
            var url = URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;
            a.download = 'salestracker.xls';
            document.body.appendChild(a);
            a.click();
            setTimeout(function () {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 0);
        }
    </script>
</body>
</html>
{% endblock %}
