{% extends 'base.html' %}

{% block title %}About{% endblock %}
<style>
    img {height:100px; width:100%;}
a:link {text-decoration:none;}
a {padding:25px; font-size:19px;color:rgb(168, 223, 237);}
.simp {margin-left:45px;}
.hr {color:rgb(168, 223, 237);}
h1 {text-align:center; font-size: 40px; font-family:Serif; font-weight: strong;}
.image {width:34%; height: 200px;location:absolute; border:solid;padding:5px;border-width:1px; border-color:grey; float:left; }
p {font-family:Sans-Serif; text-align:left; font-size: 20px}
 #grey {background-color:grey;}



.container {background-color:grey;}

</style>
{% block content %}
   <body>
    <div class="container-fluid">
        <div class="col-sm-12 col-md-12 col-lg-12">
      
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Cloud_banner.jpg">  
        <nav id="grey"> 
          <a class="simp" href="https://codepen.io/yanhuidiamond/pen/qqydvV"> Home </a>
          <a href="https://codepen.io/yanhuidiamond/pen/xRJdYR"> Why We're Here </a>
          <a id="thelink" href="https://codepen.io/yanhuidiamond/pen/PbBmQB"> About Us </a>
          <a href="https://codepen.io/yanhuidiamond/pen/qqYJjV"> Team  </a>
          <a href="https://codepen.io/yanhuidiamond/pen/aBjvgQ"> Services </a>
        
          <a href="https://codepen.io/yanhuidiamond/pen/VmjLBa"> Contact Us </a>
      </nav>
        <hr class="hr">
      
      <h1> About Us </h1>
      
      <p> We are a team created as part of Mr. Martín's Web Design class at Charles R. Drew Charter School. Our team was originally created as part of a first semester project in which we were supposed to create a game in the web design application Scratch. </p>
      <p> Since the Scratch project, we have taken on many more endeavors, such as learning HTML and CSS in order to create web pages of our own instead of relying on other applications to see our creative visions through.
        </div>
      </div>

      <script>

        $("#thelink").click(function(){
            event.preventDefault();
              alert("You are already on this page!")
            
              })
      </script>
   </body>
{% endblock %}