{% extends "base.html" %}

{% block title %}Delete payroll{% endblock %}

{% block content %}
<h1>Delete payroll</h1>

<p>Are you sure you want to delete the payroll for {{ payrolls.employee_id }} (ID: {{ payrolls.employee_name }})?</p>

<form action="{% url 'delete_payroll' payrolls.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
