{% extends "base.html" %}

{% block title %}Delete Attendence{% endblock %}

{% block content %}
<h1>Delete Attendence</h1>

<p>Are you sure you want to delete the Attendence for {{ attendence.created_date }} (ID: {{ attendence.id }})?</p>

<form action="{% url 'delete_attendence' attendence.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
