{% extends "base.html" %}

{% block title %}Delete notice{% endblock %}

{% block content %}
<h1>Delete notice</h1>

<p>Are you sure you want to delete the notice for {{ notices.notice_date }} (ID: {{ notices.id }})?</p>

<form action="{% url 'delete_notice' notices.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
