{% extends "base.html" %}

{% block title %}Update Attendence{% endblock %}

{% block content %}
<h1>Update Attendence</h1>
<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        padding: 20px;
        margin: 0;
    }
    
    h1 {
        color: #333;
    }
    
    .header-actions {
        margin-bottom: 20px;
    }
    
    .header-actions a,
    .download-button {
        display: inline-block;
        padding: 10px 20px;
        margin-right: 10px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .header-actions a:hover,
    .download-button:hover {
        background-color: #45a049;
    }
    
    .search-container {
        margin-bottom: 20px;
    }
    
    .search-container input[type="text"] {
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #3399ff;
        color: #fff;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        background-color: #cceeff;
    }
    
    form {
        margin-top: 20px;
    }
    
    form input[type="text"],
    form select,
    form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    form button[type="submit"] {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button[type="submit"]:hover {
        background-color: #45a049;
    }
    
</style>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
</form>
{% endblock %}
