<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://virtucare.blob.core.windows.net/static/assets/css/argon-dashboard.css" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Font Awesome for the toggle button icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<style>
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f9f9f9;
    }

    #sideBarToggle {
        display: none;
    }

    /* set display none of aside on mobile */
    @media (max-width: 768px) {
        #sidenav-main {
            display: none;
        }

        #sideBarToggle {
            display: block;
        }

    }

    main {
        margin-left: 0;
    }

    @media (min-width: 768px) {
        main {
            margin-left: 15.625rem;
        }
    }

    .shadow2 {
        border: 0;
        background-clip: padding-box;
        box-shadow: 0 2px 6px 0 rgba(67, 89, 113, .12);
        padding: 16px;
    }
</style>

<body>
    <div>
        <aside class="sidenav navbar navbar-vertical navbar-expand-xs fixed-start shadow2 bg-light" id="sidenav-main">
            <div class="sidenav-header">
                <div class="p-3 d-flex align-items-center">
                    <i class="bi bi-list" id="sideBarToggle" onclick="toggleSidebar()"></i>
                    <span class="h4 ms-2 mb-0 font-weight-bold">GPS CRM</span>
                </div>
            </div>
            <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-bars"></i>
                            </div>
                            <span class="nav-link-text">GPS CRM</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:dashboard' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:calendar' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Calander</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:telecalling' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">TeleCalling</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:conversations' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Conversations</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:appointments' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Appointments</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:salestracker' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Sales Tracker</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:leads' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Leads</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:taskmanager' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Task Manager</span>
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:properties' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                            <span class="nav-link-text">Properties</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:propertymanager' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Property Manager</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:customers' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Customers</span>
                        </a>
                    </li>
                    <!-- Add other menu items here -->

                    <!-- #purchase Dropdown -->

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('purchaseDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">Purchase</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="purchaseDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="{% url 'accounts_app:purchaselist' %}">Purchase List</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:addpurchase' %}">Add Purchase</a></li>
                          
                        </ul>
                    </li>

                                        <!-- Sales Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('SalesDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">Sales</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="SalesDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="{% url 'accounts_app:saleslist' %}">Sales List</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:addsales' %}">Add Sales</a></li>
                            
                        </ul>
                    </li>
                    <!-- People Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('PeopleDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">People</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="PeopleDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="{% url 'accounts_app:suppliers' %}">Suppliers</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:addsuppliers' %}">Add Suppliers</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:biller' %}">Billers</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:addbiller' %}">Add Biller</a>
                            </li>
                        </ul>
                    </li>

                    <!-- stock adjustment Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('stockadjustmentDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">stock adjustment</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="stockadjustmentDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="{% url 'accounts_app:adjustmentlist' %}">adjustment List</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:addadjustement' %}">Add Adjustment</a></li>
                           
                        </ul>
                    </li>                    
                     <!-- HRM Dropdown -->
                     <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('hrmDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">HRM</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="hrmDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="{% url 'accounts_app:attendence' %}">Attendence</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:notice' %}">Notice</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:payroll' %}">Payroll</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:performance' %}">Performance</a>
                            </li>
                        </ul>
                    </li> 
                    
                    <!-- Accounting Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('AccountingDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">Accounting</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="AccountingDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="#">Income</a></li>
                            <li><a class="dropdown-item" href="#">Expenses</a></li>
                            <li><a class="dropdown-item" href="#">Add Invoice(Product)</a></li>
                            <li><a class="dropdown-item" href="#">Add Invoice(Service)</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Invoice</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Report Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('ReportDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">Report</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="ReportDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="#">Leads</a></li>
                            <li><a class="dropdown-item" href="#">Sales</a></li>

                        </ul>
                    </li>
                    <!-- UserManagement Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('UserManagementDropdown')" class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="nav-link-text">User Management</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="UserManagementDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="{% url 'accounts_app:add_employees' %}">Add Employee</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:employees' %}">Employee List</a></li>
                            <li><a class="dropdown-item" href="#">Roll Permission</a></li>                          
                        </ul>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:dashboard' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Notifications</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:dashboard' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">Subscription Plans</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            <span class="nav-link-text">FAQ</span>
                        </a>
                    </li>


                    <!-- Settings Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" onclick="toggleDropdown('settingDropdown')"
                            class="dropdown-toggle">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <span class="nav-link-text">Settings</span> <i class="fas fa-caret-down"></i>
                        </a>
                        <ul id="settingDropdown" class="dropdown-menu" style="display: none;">
                            <li><a class="dropdown-item" href="{% url 'accounts_app:general_setting' %}">General
                                    Setting</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:currency_setting' %}">Currency
                                    Setting</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:email_setting' %}">Email Setting</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:sms_setting' %}">SMS Setting</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:tax_setting' %}">Tax Setting</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:location_setting' %}">Location
                                    Setting</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:lead_status_setting' %}">Lead Status
                                    Setting</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:lead_source_setting' %}">Lead Source
                                    Setting</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:call_status_setting' %}">Call Status
                                    Setting</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'accounts_app:notification_setting' %}">Notification Setting</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounts_app:custom_field_setting' %}">Custom
                                    Field Setting</a></li>
                        </ul>
                    </li>

                    <!-- Add more menu items here -->

                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:logout' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span class="nav-link-text">Log out</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:signup' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <span class="nav-link-text">Sign up</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_app:login' %}">
                            <div
                                class="border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-sign-in-alt"></i>
                            </div>
                            <span class="nav-link-text">Log in</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </aside>
        <main>
            <nav class="navbar sticky-top bg-light">
                <div class="container-fluid">
                    <i class="bi bi-list" id="sideBarToggle" onclick="toggleSidebar()"></i>
                    <a class="navbar-brand" href="#"></a>
                    <a class="nav-link" href="#" id="navbarDropdownNotification" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-bell "></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end bg-light">
                        <li>
                            <a class="dropdown-item" href="#">No Notifications<span class="m-2 text-muted">
                                    <small class="text-primary"></small></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% else %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {% endif %}
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="container-fluid p-0 ps-md-4">
                    {% block content %}{% endblock %}
                </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidenav-main");
            if (sidebar.style.display === "none" || sidebar.style.display === "") {
                sidebar.style.display = "block";
            } else {
                sidebar.style.display = "none";
            }
        }

        function toggleDropdown(id) {
            var dropdown = document.getElementById(id);
            if (dropdown.style.display === "none" || dropdown.style.display === "") {
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        }
    </script>
</body>

</html>