/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Navbar Styles */
  
  .navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .search-bar input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .search-bar button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #23527c;
  }
  
  /* Sidebar Styles */

  
  
  .sidebar {
    background-color: #333;
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar.collapsed {
    width: 70px;
  }
  
  .sidebar ul {
    margin-top: 20px;
  }
  
  .sidebar li {
    margin-bottom: 20px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    color: #337ab7;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  .dropdown-menu li {
    margin-bottom: 10px;
  }
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    color: #337ab7;
  }
  
  /* Content Styles */
  
  .content {
    padding: 20px;
    margin-left: 250px;
  }
  
  main {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
   .sidebar {
      width: 100px;
    }
   .content {
      margin-left: 100px;
    }
  }
  
  @media (max-width: 480px) {
   .sidebar {
      width: 70px;
    }
   .content {
      margin-left: 70px;
    }
  }


  .sidebar {
    height: calc(100vh - 50px); /* Adjust the height to fit the viewport */
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1; /* Add this line */
  }

  .sidebar {
    overflow-y: auto; /* Add this line */
  }
  
  .sidebar.collapsed {
    overflow-y: hidden; /* Add this line */
  }

  /* Footer Styles */

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    clear: both;
}

.footer.container {
    max-width: 1200px;
    margin:  auto;
    padding: 20px;
}


/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    clear: both;
} */