/* Dashboard Styles */

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f7f7f7; /* Add a light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 15px;
  flex: 1 1 300px; /* Ensure cards have equal width */
  max-width: 300px; /* Limit card width */
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer; /* Add a pointer cursor on hover */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.card h3 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
}

.card p {
  font-size: 20px;
  color: #777;
  margin-bottom: 20px;
}

.card.icon {
  font-size: 40px;
  color: #337ab7;
  margin-bottom: 10px;
}

.chart-container {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  overflow-x: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

table td {
  color: #777;
}

/* Responsive Styles */

@media (max-width: 768px) {
 .card {
    max-width: 100%; /* Cards take full width on smaller screens */
    padding: 20px;
  }
 .chart-container {
    padding: 15px;
  }
 .table-container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
 .card {
    padding: 15px;
  }
 .chart-container {
    padding: 10px;
  }
 .table-container {
    padding: 10px;
  }
}

/* Additional Styles */

.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #f7f7f7, #fff);
  opacity: 0.5;
  z-index: -1;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #fff, #f7f7f7);
  opacity: 0.5;
  z-index: -1;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.card:hover::before {
  transform: translateY(0);
}