{% extends "base.html" %}

{% block title %}Add Leads{% endblock %}

{% block content %}
<h1>Add Leads</h1>
<style>
    /* Resetting default margins and paddings */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Setting a nice background and font */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

/* Giving the form a bit of padding and a background */
form {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto; /* Centering the form horizontally */
}

/* Styling the form title */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Styling form inputs and labels */
label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

/* Styling form fields */
.form-row {
    margin-bottom: 20px;
    text-align: center; /* Center the form groups */
}

.form-group {
    display: inline-block;
    width: calc(30% - 20px); /* Adjusting for margins */
    margin-right: 20px;
}

/* Styling form elements */
input[type="text"],
select,
textarea {
    width: 50%;
    padding: 5px;
    margin: 5px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.9s;
}

/* Styling focused form elements */
input[type="text"]:focus,
select:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Styling the submit button */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

</style>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}
