{% extends "base.html" %}

{% block title %}Delete lead{% endblock %}

{% block content %}
<h1>Delete lead</h1>

<p>Are you sure you want to delete the lead for {{ lead.date }} (Lead ID: {{ lead.lead_id }})?</p>

<form action="{% url 'delete_lead' lead.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
