{% extends "base.html" %}

{% block title %}Leads{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads</title>


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        .card-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .card {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            width: calc(20% - 20px);
            box-sizing: border-box;
        }
        .card h2 {
            color: #333;
            margin-top: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #e6f7ff; /* Blue color */
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #3399ff; /* Dark blue color for header */
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Light gray color for even rows */
        }
        tr:hover {
            background-color: #cceeff; /* Light blue color on hover */
        }
        .search-container {
            margin-bottom: 20px;
        }
        .search-container input[type=text] {
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .download-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .download-button:hover {
            background-color: #45a049;
        }
        .header-actions {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Leads</h1>

    <div class="header-actions">
        <button class="download-button" onclick="exportToExcel()">Download as Excel</button>
        
    </div>

    <div class="header-actions">
        <a href="{% url 'accounts_app:add_lead' %}" class="create-button">Add Lead</a>
        
    </div>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button onclick="search()">Search</button>
    </div>

    <div class="card-container">
        <div class="card">
            <h2>New Leads</h2>
            <p>583</p>
        </div>
        <div class="card">
            <h2>In-Progress</h2>
            <p>61</p>
        </div>
        <div class="card">
            <h2>Visit Reqest </h2>
            <p>27</p>
        </div>
        <div class="card">
            <h2>Follow-Up</h2>
            <p>18</p>
        </div>
        <div class="card">
            <h2>Hot Leads</h2>
            <p>8</p>
        </div>
        <div class="card">
            <h2>Warm Leads</h2>
            <p>9</p>
        </div>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>S.No</th>                
                <th>Lead ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Project Name</th>
                <th>Project Details</th>
                <th>Project Type</th>
                <th>Lead Status</th>
                <th>Source</th>     
                <th>Actions</th>           
            </tr>
        </thead>
        <tbody>
            {% for leads in lead %}
            <tr>
                <td>{{ forloop.counter }}</td>                
                <td>{{ leads.lead_id }}</td>
                <td>{{ leads.Available_date }}</td>
                <td>{{ leads.Name }}</td>
                <td>{{ leads.Mobile }}</td>
                <td>{{ leads.Project_Name }}</td>
                <td>{{ leads.Project_Details }}</td>
                <td>{{ leads.Project_Type }}</td>
                <td>{{ leads.Lead_Status }}</td>
                <td>{{ leads.Lead_source }}</td>
                <td>
                    <a href="{% url 'accounts_app:update_lead' leads.pk %}">Edit</a>
                    <form action="{% url 'accounts_app:delete_lead' leads.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this lead?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function search() {
            // Write your search functionality here
        }

        function exportToExcel() {
            // Write code to export table data to Excel format
        }
    </script>
</body>
</html>
{% endblock %}
